.main{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding-top: 10px;
    /* width: 100%;
    height: 100%; */
    gap: 10px;
    background-color: #fff;
    align-items: center;
}