@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.layout {
    background-color: #FAF0E6;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px 10px 30px;
    min-height: 100vh;
}