
.footer {
    display: flex;
    /* flex-direction: row */
    align-items: center;

    height: 75px;
    
    gap: 10px;
}
.logoBlock {
    display: flex;

    align-items: center;
    
    gap: 10px;
}

.logoImage {
    width: 50px;
    height: 50px;
}

.textBlock {
    display: flex;
    
    flex-direction: column;

    justify-content: center;
}
.textBlock p {
    font-size: 12px;
}