*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.block {
    background-color: #FAF0E6;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px 10px 30px;
}